https://github.com/nomeqc/my-release/releases/download/20260429/Alfred_5.7.2.dmg	Alfred_5.7.2.dmg	Alfred
https://github.com/nomeqc/my-release/releases/download/20260429/Araxis_Merge_2025.1.dmg	Araxis_Merge_2025.1.dmg	Araxis Merge
https://github.com/nomeqc/my-release/releases/download/20260429/DufsGUI.dmg	DufsGUI.dmg	DufsGUI
https://github.com/nomeqc/my-release/releases/download/20260429/Flacbox_7.3.dmg	Flacbox_7.3.dmg	Flacbox
https://github.com/nomeqc/my-release/releases/download/20260429/GitAutoPushGUI.dmg	GitAutoPushGUI.dmg	GitAutoPushGUI
https://github.com/nomeqc/my-release/releases/download/20260429/iStat_Menus_7.20.7.dmg	iStat_Menus_7.20.7.dmg	iStat Menus
https://github.com/nomeqc/my-release/releases/download/20260429/MacZip_2.4.dmg	MacZip_2.4.dmg	MacZip
https://github.com/nomeqc/my-release/releases/download/20260429/Menuist_4.4.1.dmg	Menuist_4.4.1.dmg	Menuist
https://github.com/nomeqc/my-release/releases/download/20260429/Numi_3.32.dmg	Numi_3.32.dmg	Numi
https://github.com/nomeqc/my-release/releases/download/20260429/PixPin_2.3.8.dmg	PixPin_2.3.8.dmg	PixPin
https://github.com/nomeqc/my-release/releases/download/20260429/Proxyman_6.8.0.dmg	Proxyman_6.8.0.dmg	Proxyman
https://github.com/nomeqc/my-release/releases/download/20260429/Reveal_57.dmg	Reveal_57.dmg	Reveal
https://github.com/nomeqc/my-release/releases/download/20260429/Sublime_Text_build_4200.dmg	Sublime_Text_build_4200.dmg	Sublime Text
https://github.com/nomeqc/my-release/releases/download/20260429/Zipic_1.9.3.dmg	Zipic_1.9.3.dmg	Zipic